<a href="https://colab.research.google.com/github/jasmin-guven/TitanicDataSetVIS/blob/main/titanic_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data science with Python exercise book

This is the exercise book for the data science lesson in Python. 

**To use this book, you will need to select File, then Save a copy in Drive and then Sign in to your account and click Open in new tab.**

**Note:** Do not edit the first code block, as you will need them for this exercise to work.

In [ ]:
# Imports 
import pandas as pd

num_of_students = 15

# Get data from a url web link
url_to_data = 'https://raw.githubusercontent.com/jasmin-guven/TitanicDataSetVIS/main/titanic.csv'

# Put our data into a table
df = pd.read_csv(url_to_data) # See here we have written pd

Make sure you run the first block above before you move on to the next section.

# Start editing here

To check that the above code block has worked, go ahead and print the df dataframe into the below block and click run.

In [ ]:
# Print df below this comment to see that the first code block has worked

You should see a table appear below the code block which contains columns like PassengerId, Survived, Pclass, Name, Sex, Age, etc.

# 1. Questions to be answered

1. What was the average age of all the passengers on board Titanic?
2. What was the average age of the survivors?
3. How many percent of a) men, b) women and c) children survived?

# 2. Data cleaning

As an exercise, select the 'Survived' column from the df dataframe in the below coding block and click run.

In [ ]:
# Select the 'Survived' column from the dataframe df and print

When you run the above cell, you should see two columns: Index and Survived.

Let's select all the required columns:

*   Survived
*   Name
*   Sex
*   Age

**Note:** Remember that we need two pairs of square-parantheses!

In [ ]:
# Select the required columns from dataframe df and print

When you run the above cell, you should see the correct columns.

Create a new variable called clean_df with our selected columns.

In [ ]:
# Create a new variable called clean_df

#3. Results

Let's start answering our questions.

##3.1 What was the average age of all the passengers on board the Titanic?

Start with the average age of all passengers.

In [ ]:
# Calculate the mean age of all passengers

# Print the mean

Did you get the correct value?

Remember to round up correctly and give 1 decimal place. 

What units should this value be in?

##3.2 What was the average age of survivors?

Let's create a dataframe of only passengers who survived and call it survived_df. 

You will need to use the location function together with a conditional statement.

In [ ]:
# Create a new dataframe called survived_df of only the survivors


# Print the new dataframe

You should now have dataframe of only survived passengers. 

Next, let's calculate the average age of the survived passengers.

In [ ]:
# Calculate the mean age of survived passengers and print

Did you get the correct value?

Remember to round up correctly and give 1 decimal place.

What units should this value be in?

#3.3 How many percent of a) men, b) women and c) children survived?

**a) How many men survived?**

For both men and women, we need to exclude children under the age of 18.0 years. Create a new dataframe called adults_df with only adults.

In [ ]:
# Create a dataframe of only adults


# Print the new dataframe

We should now have a dataframe with only adults. Let's now select men and create a new dataframe called men_df.

In [ ]:
# Create a dataframe of only men


# Print the new dataframe

Let's select only the 'Survived' and 'Sex' columns of the men_df dataframe.

In [ ]:
# Select only the needed columns 
men_df = 

# Print the new dataframe

Get the total number of men and create a new variable called total_men.

In [ ]:
# Get the total number of men 
total_men = 

# Print the number of total men on board

How many men were there?

Next, create a new dataframe called survived_men_df by selecting only the survivors from the dataframe men_df.

In [ ]:
# Select only survived men 


# Print the new dataframe

Then, get the number of survived men.

In [ ]:
# Get the number of survived men


# Print the number of survived men

How many men survived?


Let's calculate the percentage of men who survived.

In [ ]:
# Calculate the percentage of men who survived

# Print the percentage

Did you get the correct value?

Remember to round up correctly and give 1 decimal place.

What units should this value be in?

**b) How many percent of women survived?**

Let's repeat the above this time choosing only women. 

The below code blocks contain the 'skeleton' of the code. This means it only contains comments and it is your job to fill in the code.

In [ ]:
# Create a dataframe of only women from the adults_df


# Print the new dataframe

In [ ]:
# Select only the needed columns ('Sex' and 'Survived')


# Print the new dataframe

In [ ]:
# Create a variable for the number of rows in women_df, 
# i.e. total number of women


# Print number of total women on board

In [ ]:
# Select only survived women


# Print the new dataframe

In [ ]:
# Get the number of survived women


# Print the number of survived women

In [ ]:
# Calculate the percentage of women who survived


# Print the percentage

Did you get the correct value?

Remember to round up correctly and give 1 decimal place.

What units should this value be in?

**c) How many percent of children survived?**

This is again very similar to the above, except that we need to select children whose age is less than 18.0 years from our clean_df.

In [ ]:
# Create a dataframe of only children


# Print the new dataframe

In [ ]:
# Select only the required columns: 'Survived' and 'Age'


# Print the new dataframe

In [ ]:
# Create a variable for the number of rows in children_df
# i.e. the total number of children


# Print number of total children on board

In [ ]:
# Create a new dataframe from children_df of only survived children


# Print the new dataframe

In [ ]:
# Get the number of survived children


# Print the number of survived children

In [ ]:
# Calculate the percentage of children who survived


# Print the percentage